- if request.system_status == ServiceRequest::SYSTEM_FREE
  %button.btn.btn-default.btn-block= "Editar"
- else
  #folder-status-message
    = request.system_status_text
  - if request.system_status == ServiceRequest::SYSTEM_QUOTED
    %button#send-quote-button.btn.btn-primary.btn-block{'data-id' => request.id}= "Enviar costeo"