#header-bar
  %h2 Carpetas
  .actions
    %button#add-new-folder-button.btn.btn-default
      %span.glyphicon.glyphicon-plus
      = "Nueva Carpeta"
#folder-search-panel
  = form_tag '/search', :id => 'folder-live-search', :method => 'get', :remote => true do
    = text_field_tag :q, nil, :id => 'search-box', :class => 'form-control', :placeholder => 'Busqueda'

#folders

:javascript
  $(document).ready(function() {
    foldersLiveSearch();
    activeSideNav('#folders-link');
  });
  
