#header-bar
  %h2 Carpetas
#folder-panel
  .search-box
    = form_tag '/search', :id => 'folder-live-search', :method => 'get', :remote => true do
      %select#search-filter{:name => 'filter'}
        %option{:value => '*'}= "Todos"
      = text_field_tag :q, nil, :id => 'search-box', :placeholder => 'Busqueda'
  .items-placeholder

  .bottom-box
    .bottom-box-inner
      = button_tag "Crear nueva carpeta", {:id => 'add-new-folder-button', :class => 'btn btn-info btn-block', :title => 'Crear nueva carpeta'}
#folder-main-panel

:javascript 
  $(document).ready(function() {
    foldersLiveSearch();
  });
