#request-workarea
- if @request.sample.count == 0
  #no-samples
    = 'La carpeta aún no tiene muestras.'
    %a{:id => 'open-new-sample-modal-link'}= '¿Deseas agregar una?'
- else
  :javascript
    $(function() {
      getSample(#{@request.sample[0].id})
    })
