:javascript
  $(function() {
    $('#cg_ServiceRequest_link').show();
    $('#cg_ServiceRequest_description').show();
    $('#cg_ServiceRequest_supervisor').show();
    $('#cg_ServiceRequest_submit').show();
  });