%ul
  - @equipment.each do |equipment|
    %li.equipment-item.item{"data-id" => equipment.id}
      .equipment-item-name= equipment.name
      .equipment-item-laboratory= equipment.laboratory.name
.items-counter
  .items-counter-inner
    = "#{@equipment.count} equipos"