#technicians
  = render :partial => 'technicians', :locals => {:requested_service => @requested_service }

#equipment
  = render :partial => 'equipment', :locals => {:requested_service => @requested_service }
