#wide-area
  #home-area.inner-area

:javascript
  $(function() {
    hash = window.location.hash
    if (hash.slice(0, 2) == '#!' && hash.length > 3) {
      checkHash();
    } else {
      $('#folders-link').click();
    }
  });
