#edit-additionals
  - @laboratory_service.laboratory_service_additionals.each do |additional|
    %div{:style => 'border: 1px solid #f90;'}
	    = additional.name  
	    %br
	    = additional.type
	    %br
	    = additional.value 