- options = ''
- @client_contacts.each do |contact|
  - options += "<option value=\"#{contact.id}\">#{contact.name}</option>"
= select_tag 'service_request[external_request_attributes][0][client_contact_id]', options.html_safe
%br
%a#add-new-client-contact= "Agregar nuevo contacto"
