= render :partial => 'alerts/alerts', :locals => {:alerts => @alerts,
                                                  :laboratory_service_id => @laboratory_service_id,
                                                  :equipment_id => @equipment_id,
                                                  :technician => @technician,
                                                  :from => @from,
                                                  :from_id => @from_id,
                                                  :message_type => @message_type}
