#login-area
  .login-title= "Bitacora Electrónica"
  .login-message= "Accede con tu cuenta @cimav.edu.mx"
  .login-methods
    #login-google-apps.login-method
      %button.btn{'onclick' => "window.location = '/auth/google_oauth2';"}
        = image_tag("/assets/google-apps.png")
  .clearfix
