#login-area
  .login-message= "Entra a la Bitácora Electrónica usando tu cuenta"
  .login-methods
    #login-google-apps.login-method
      = link_to '/auth/google_oauth2' do
        = image_tag("/assets/google-apps.png")
  .clearfix

