// Place all the styles related to the ActivityLog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-list {
  border: 1px solid $line-color;
  width: 580px;
  li {
    border-bottom: 1px solid $line-color;
    padding: 5px;
    margin: 5px 0 0 0;
    .log-display {
      float: left;
      img {
        @include rounded(5px);
      }
    }
    .log-msg-form {
      width: 500px;
      margin: 0 0 10px 10px;
      float: left;
      textarea {
        width: 490px;
        height: 40px;
        margin-bottom: 10px;
      }
      input {
        float: right;
      }
    }
    .log-date {
      color: $grey; 
      float: right;
      font-size: 10px;
    }
    .log-msg-area {
      margin-left: 58px;
      .log-user {
        font-weight: bold;
      }
      .log-message {
        margin-top: 5px;
      }
    }
  }
}
