// Place all the styles related to the ActivityLog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#activity_log {
  margin-top: 20px; 
  .write-message {
    background: #fff;
    border-bottom: 1px solid $line-color;
  }

  .btn {
    float: right;
  }

  .activity-textarea {
    padding: 5px;
    margin-bottom: 5px;
    background: #fff;
    border: 1px solid $line-color;
    textarea {
      outline: none;
      resize: none;
      padding: 0;
      width: 100%;
      height: 40px;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  .media-list {
    width: 100%;
  }

  .media {
    padding: 10px;
    margin: 0;
  }
  .activity-message {
    border-bottom: 1px solid $line-color;
  }
  h4 {
    font-size: 14px;
  }
  .timestamp {
    font-weight: normal;
    float: right;
    font-size: 11px;
    color: $grey;
  }
}

#lab-main-panel #activity_log {
  left: $sample-list-width + 14;
}