// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#clients-panel,
#laboratories-panel,
#equipment-panel,
#materials-panel,
#users-panel,
#service-types-panel,
#request-types-panel,
#other-types-panel {
  position: fixed;
  top: 96px;
  bottom: 0px;
  left: $side-panel-width + 2;
  width: $side-panel-width;
  border-right: 1px solid $line-color;
  border-left: none;
  li {
    min-height: 48px;
    padding: 10px 5px;
    cursor: pointer;
    border-bottom: 1px solid $line-color;
    &.active {
      background: $bg-selected !important;
    }
  }
  
  #clients-buttons,
  #equipment-buttons,
  #laboratories-buttons,
  #materials-buttons,
  #users-buttons,
  #request-types-buttons,
  #service-types-buttons,
  #other-types-buttons {
      width: $side-panel-width;
      position: absolute;
      text-align: center;
      bottom: 0px;
      height: 35px;
      button {
        margin-top: 3px;
        width: $side-panel-width - 10;
      }
  }
}

#users-list {
  top: 110px !important;
}

#client-details,
#equipment-details,
#laboratory-details,
#materials-details,
#user-details,
#service-types-details,
#request-types-details,
#other-types-details {
  left: ($sample-list-width * 2) + 24;
  right: 0px;
  position: fixed;
  top: 96px;
  bottom: 0px;
}

#admin-panel {
  background: #fff;
  padding-top: 20px;
  ul {
    margin: 10px;
  }
  li {
    cursor: pointer;
  }
}

.equipment-item-laboratory,
.laboratories-item-user,
.laboratories-item-unit,
.user-item-access {
  font-size: 80%;
}

.laboratories-item-name {
  font-weight: bold;
}