// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#clients-panel,
#laboratories-panel,
#departments-panel,
#equipment-panel,
#materials-panel,
#users-panel,
#service-types-panel,
#request-types-panel,
#providers-panel,
#other-types-panel {
  position: fixed;
  top: 54px;
  bottom: 0px;
  left: $sidenav-width;
  width: $side-panel-width;
  border-right: 1px solid $line-color;
  border-left: none;
  .search-box {
    padding: 5px;
    select {
      margin-bottom: 5px;
      width: $side-panel-width - 10;
    }
    input {
      width: $side-panel-width - 10;
    }
  }
  .items-placeholder {
    background-color: $white;
    overflow: scroll;
    position: absolute;
    width: $side-panel-width - 1;
    bottom: 70px;
    top: 90px;
    border-top: 1px solid $line-color;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li:nth-child(odd) {
        background-color: $strip-color;
      }
      li.item {
      }
    }
    .items-counter {
      position: fixed;
      width: $side-panel-width;
      height: 30px;
      bottom: 40px;
      border-top: 1px solid $line-color;
      border-right: 1px solid $line-color;
      background-color: $light-grey;
      .items-counter-inner {
        font-size: 90%;
        text-align: center;
        padding-top: 5px;
      }
    }
  }
  .bottom-box {
    position: absolute;
    width: 250px;
    height: 40px;
    bottom: 0px;
    border-top: 1px solid $line-color;
    .bottom-box-inner {
      margin: 5px 10px;
    }
  }


  li {
    min-height: 48px;
    padding: 10px 5px;
    cursor: pointer;
    border-bottom: 1px solid $line-color;
    border-right: 1px solid $line-color;
    &.active {
      background: $bg-selected !important;
      color: $selected-color !important;
    }
  }
  
  #clients-buttons,
  #equipment-buttons,
  #laboratories-buttons,
  #departments-buttons,
  #materials-buttons,
  #users-buttons,
  #request-types-buttons,
  #providers-buttons,
  #service-types-buttons,
  #other-types-buttons {
      width: $side-panel-width;
      position: absolute;
      text-align: center;
      bottom: 0px;
      height: 40px;
      button {
        margin-top: 3px;
        width: $side-panel-width - 10;
      }
  }
}


 
#users-list {
  top: 130px !important;
}

#service-types-list,
#request-types-list,
#other-types-list {
  top: 50px !important; 
}


#client-details,
#equipment-details,
#laboratory-details,
#department-details,
#materials-details,
#user-details,
#service-types-details,
#request-types-details,
#providers-details,
#other-types-details {
  left: $side-panel-width + $sidenav-width + 24;
  right: 0px;
  position: fixed;
  top: 54px;
  bottom: 0px;
  overflow: auto;
  padding-right: 20px;
  button, .submit-button {
    margin-top: 20px;
  }
}

#laboratory-details.laboratory-load-details {
  margin-left: $side-panel-width !important;
}

#admin-panel {
  width: 100%;
  position: absolute;
  top: 10px;
  ul {
    float: right;
  }
  li {
    cursor: pointer;
  }
}

.equipment-item-laboratory,
.laboratories-item-user,
.laboratories-item-unit,
.user-item-access {
  font-size: 80%;
}

.laboratories-item-name {
  font-weight: bold;
}


.lab-image-item {
  border: 1px solid $med-grey;
  background: $light-grey;
  padding: 10px;
  width: 270px; 
  height: 350px;
  max-height: 350px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 90%;
  img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
  }
}

.lab-image-item #upload-box {
  float: left !important;
  text-align: center;
  position: relative;
  width: 250px !important;
}

.departments-item-user,
.departments-item-unit {
  font-size: 80%;
  margin-top: 4px;
}