$white: #fff;
$black: #000;
$grey: #777;
$med-grey: #ddd;
$light-grey: #fafafa;
$red: #b01;
$green: #62c462;
$strong-color: #222;
$strong-color2: #444;
$light-bg: #f8f8f8;
$bg-color: #fafafa;
$bg-selected: #efefef;

$container-width: 1000px;
$nav-width: 101px;
$work-area-width: $container-width - $nav-width;
$wide-width: $container-width - $nav-width;
$sample-list-width: 250px;
$sample-workarea-width: $work-area-width - $sample-list-width - 42;
$side-panel-width: 250px;
$main-panel-width: $container-width - $side-panel-width - $nav-width - 4;
$lab-services-list-width: 250px;

$line-color: #ddd;
$link-color: #06c;
$bullet-color: #ddd;

$button-gradient-from: #666;
$button-gradient-to: #444;

$table-line-color: $line-color;
$table-head-bg: #f0f0f0;
$table-head-color: #333;

$selected-color: $black;
$selected-color-light: #ddd;

$workarea-bar-bg: #333;
$workarea-bar-border: #222;

$error-bg: #fbe3e4;
$error-color: #8a1f11;
$error-border-color: #fbc2c4;

$notice-bg: #fff6bf; 
$notice-color: #514721; 
$notice-border-color: #ffd324;

$success-bg: #e6efc2; 
$success-color: #264409; 
$success-border-color: #c6d880;

$info-bg: #d5edf8; 
$info-color: #205791; 
$info-border-color: #92cae4;
