$white: #fff;
$black: #000;
$grey: #777;
$light-grey: #eee;
$red: #b01;
$strong-color: #222;
$strong-color2: #444;
$light-bg: #f8f8f8;
$bg-color: #fafafa;
$bg-selected: #ddd;

$container-width: 1000px;

$line-color: #ddd;
$link-color: #06c;

$button-gradient-from: #62c462;
$button-gradient-to: #57a957;

$table-line-color: $line-color;
$table-head-bg: #f0f0f0;
$table-head-color: #333;

$selected-color: $red;
