// Place all the styles related to the CustomerService controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#clients-panel {
  top: 72px !important;
  border: 1px solid $line-color;
  @include rounded(4px);
  padding: 6px;
  background: $light-grey;
  
  #clients-list { 
    top: 95px !important;
    bottom: 45px !important;
    width: $side-panel-width;
    border: 1px solid $line-color;
    .client-item.selected {
      .lab-service-desc {
        color: #a3cbfd;
      }
    }
  }
  
  #clients-buttons {
    width: $side-panel-width;
    position: absolute;
    text-align: center;
    bottom: 0px;
    height: 35px;
    button {
      width: $side-panel-width - 10;
    }
  }
}
