// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flash-notice {
  z-index: 99999;
  width: 400px;
  font-weight: bold;
  position: fixed;
  bottom: 0px;
  right: 20px;
}

.consecutive {
  white-space: pre;
}
