// Place all the styles related to the Laboratory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lab-work-panel {
  #folder-work-panel {
    position: absolute;
    left: $lab-req-serv-panel-width;
    top: 55px;
    bottom: 0;
    right: 0;
    overflow: auto;
  }
}

#lab-req-serv-workarea {
  padding: 20px;
}

#lab-report-area {
  float: left;
  background: $white;
  left: $lab-req-serv-panel-width - 60;
  border-left: 1px solid $line-color;
  position: absolute;
  top: 55px;
  bottom: 0;
  right: 0;
  overflow: auto;
}

#lab-report-options {
  border-bottom: 1px solid $line-color;
  padding: 10px;
}
#lab-report-area-inner {
  padding: 20px;
}

#lab-report-list {
  background: $bg-color;
  width: $lab-req-serv-panel-width - 60;
  position: absolute;
  border-right: 1px solid darken($line-color, 10%);
  overflow: auto;
  top: 55px;
  bottom: 0;
  padding: 0px;
}


#lab-req-serv-panel {
  background: $bg-color;
  width: $lab-req-serv-panel-width;
  position: absolute;
  border-right: 1px solid darken($line-color, 10%);
  overflow: auto;
  top: 54px;
  bottom: 0;
  padding: 0px;
  input {
    width: $lab-req-serv-panel-width - 10px !important;
  }
  select {
    width: $lab-req-serv-panel-width - 10px !important;
  }
  label {
    font-size: 14px;
    padding-left: 5px;
    margin-top: 10px;
  }
}

#lab-req-serv-items {
  float: left;
  background: $white;
  left: $lab-req-serv-panel-width;
  border-left: 1px solid $line-color;
  position: absolute;
  top: 55px;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.req-serv-item-inner {
  padding-left: 0px;
}

.lab-req-serv-item {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $line-color;
  .rs-header {
    font-size: 12px;
    height: 32px;
    padding: 0px;
    border-bottom: 1px solid $line-color;
    background: $light-grey;
    .rs-type {
      float: left;
      font-weight: bold;
      color: #fff;
      height: 32px;
      padding: 8px 10px;
    }
    .rs-status {
      float: left;
      font-weight: bold;
      color: #fff;
      height: 32px;
      padding: 8px 10px;
    }
    .rs-number {
      float: left;
      height: 32px;
      padding: 8px 10px;
      font-size: 110%;
      font-weight: bold;
    }
    .rs-date {
      float: right;
      height: 32px;
      padding: 8px 10px;
      color: $grey;
      font-weight: bold;
    }
  }

  .rs-area {
    width: 100%;
    .rs-user {
      width: 80px;
      text-align: center;
      padding: 10px;
      min-height: 140px;
      .full-name {
        font-size: 90%;
        color: $grey;
      }
    }
    .rs-data {
      padding: 10px;
      .rs-name {
        font-size: 150%;
        font-weight: bold;
      }
    }
  }

  &:hover {
    .rs-area {
      background: $hover-bg;
    }
  }
}


#rs-info {
  background: $bg-color;
  width: $lab-req-serv-panel-width;
  position: absolute;
  border-right: 1px solid $line-color;
  overflow: auto;
  top: 55px;
  bottom: 0;
  padding: 10px;

  .rs-icon {
    height: 160px;
    margin: 0;
    padding: 0;
    color: $rs-color;
    text-align: center;
    font-size: 128px;
    .rs-number {
      text-align: center;
      font-size: 12px;
      position: relative;
      top: -100px;
      color: darken($rs-color, 50%);
    }
  }
  .rs-status {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
  .rs-data {
    padding-bottom: 20px;
    border-bottom: 1px solid darken($bg-color, 5%);
    .title {
      text-align: center;
      font-weight: bold;
      font-size: 120%;
      margin-bottom: 10px;
    }
    .description {
      text-align: justify;
      color: $grey;
    }
  }
  .sample {
    padding-bottom : 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid darken($bg-color, 5%);
    h3 {
      font-size: 13px;
      color: $grey;
      text-transform: uppercase;
      margin: 10px 0;
      padding: 0;
    }
    .sample-icon {
      color: $sample-color;
      float: left;
      text-align: center;
      padding-top: 6px;
      width: 24px;
      .label { width: 23px; margin: 0; font-size: 16px; }
    }
    .sample-data {
      float: left;
      padding-left: 10px;
      width: $lab-req-serv-panel-width - 60;
      margin: 0;
      h4 {
        margin: 0;

      }
    }
    .table-container {
      max-height: 300px;
      overflow: auto;
      margin-top: 10px;
      border: 1px solid $line-color;
      background: $white;
    }
    .table {
      margin: 0;
      background: $white;
    }
  }
  .services {
    padding-bottom : 20px;
    border-top: 1px solid #fff;
    
    h3 {
      font-size: 13px;
      color: $grey;
      text-transform: uppercase;   
      margin: 10px 0;
      padding: 0;
    }

    .sample-services {
      background: $white;
      border: 1px solid $line-color;
      font-size: 95%;
    }
  }
  
  .folder {
    padding-bottom : 20px;
    border-bottom: 1px solid darken($bg-color, 5%);
    h3 {
      font-size: 13px;
      color: $grey;
      text-transform: uppercase;   
      margin: 10px 0;
      padding: 0;
    }
    
    
    .folder-icon {
      color: $folder-color;
      width: 24px;
      font-size: 24px;
      float: left;
    }
    .folder-data {
      float: left;
      padding-left: 10px;
      width: $lab-req-serv-panel-width - 60;
      h4 {
        margin: 2px 0;
        font-size: 15px;
        font-weight: normal;
      }
      
    }
    .folder-collaborators {
      h3 {
        font-size: 14px;
      }
      img {
        width: 32px;
        height: 32px;
        padding: 1px;
      }
    }
  }

  .cotizacion {
    padding-bottom : 20px;
    border-bottom: 1px solid darken($bg-color, 5%);
    h3 {
      font-size: 13px;
      color: $grey;
      text-transform: uppercase;   
      margin: 10px 0;
      padding: 0;
    }

    .archivo {
      font-size: 12px;
      
      .glyphicon {
        color: #000;
      }
    }
  }

  .client {
    padding-bottom : 20px;
    border-bottom: 1px solid darken($bg-color, 5%);
    h3 {
      font-size: 13px;
      color: $grey;
      text-transform: uppercase;   
      margin: 10px 0;
      padding: 0;
    }

    h4 {
      color: $black;
      font-size: 15px;
    }
  }

  .dates {
    padding-bottom : 20px;
    border-bottom: 1px solid darken($bg-color, 5%);
    h3 {
      font-size: 13px;
      color: $grey;
      text-transform: uppercase;   
      margin: 10px 0;
      padding: 0;
    }
  }

}



.admin-toolbar {
  float: right;
  margin: 10px 10px 0 0;
  width: 30% !important;
}

h2.laboratory-name {
  width:60% !important;
  overflow:hidden;
}

#admin-area {
  position: fixed;
  top: 60px;
  bottom: 0px;
  padding: 20px;
  overflow: auto;
  background: #fff;
  width: calc(100% - 100px);
  #edit-laboratory-form {  
    margin-top: 20px;
  }
  .field {
    margin: 0px 20px 15px 20px;
    label {
      display: block;
      margin-bottom: 5px;
    }
    #laboratory_name {
      width: 400px;
    }
    #laboratory_prefix {
      width: 100px;
    }
    select {
      max-width: 400px;
      width: 400px;
    }
    input {
      max-width: 400px;
    }
    textarea {
      width: 400px;
      height: 100px;
    }
  }
  .submit-button {
    margin: 40px 20px;
    input[type="submit"] {
      font-weight: bold;
    }
  }
  
  h1 {
    margin-bottom: 20px;
    margin-left: 10px;
  }

  #services-panel,
  #lab-equipment-panel,
  #lab-classifications-panel,
  #members-panel {
    top: 72px !important;
    border: 1px solid $line-color;
    @include rounded(4px);
    padding: 5px;
    background: $light-grey;
    width: $side-panel-width + 10;
    input, select {
      width: $side-panel-width - 10;
    }
    #services-search-panel,
    #members-search-panel,
    #classification-search-panel {
      
    }
    #admin-lab-services-list { 
      top: 95px !important;
      bottom: 65px !important;
      width: $side-panel-width;
      border: 1px solid $line-color;
      .lab-service-desc {
        color: $grey;
        font-size: 11px;
      }
      .admin-lab-service-item.selected {
        .lab-service-desc {
          color: #a3cbfd;
        }
      }
    }
    #admin-lab-members-list {
      top: 95px !important;
      bottom: 45px !important;
      width: $side-panel-width;
      border: 1px solid $line-color;
      .lab-member-desc {
        color: $grey;
        font-size: 11px;
      }
      .lab-member-display {
        float: left; 
        margin-right: 10px;
      }
      .admin-lab-member-item.selected {
        .lab-member-desc {
          color: #a3cbfd;
        }
      }
    }

    #admin-lab-equipment-list,
    #admin-lab-classifications-list {
      top: 70px !important;
      bottom: 45px !important;
      width: $side-panel-width;
      border: 1px solid $line-color;
    }

    #admin-lab-services-buttons,
    #admin-lab-members-buttons,
    #admin-lab-equipment-buttons,
    #admin-lab-classifications-buttons {
      width: $side-panel-width;
      position: absolute;
      text-align: center;
      bottom: 3px;
      height: 35px;
      button {
        width: $side-panel-width - 10;
      }
    }
    #admin-lab-services-buttons {
      height: 55px;
      a {
        text-align: center;
        font-size: 90%;
      }
    }
  }

}

#admin-service-workarea,
#admin-service-costs, 
#admin-equipment-details,
#admin-member-details,
#admin-classification-details {
  margin-left: $side-panel-width + 40;
}

#admin-service-tabs {
  margin: 20px 0;
}


#technicians-template table,
#equipment-template table,
#materials-template table,
#others-template table {
  width: 98%;
  input, select {
    width: 95%;
  }
}

.empty-cost {
  td {
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
    color: $grey;
  }
}

#admin-service-costs {
  overflow: auto;
  position: absolute;
  top: 130px;
  left: 10px;
  bottom: 20px;
  right: 20px;
}

#new-material-link {
  cursor: pointer;
}

.requested-service-status {
  font-size: 14px;
  text-align: center; 
}


