#workarea {
  margin: 0;
  padding: 0;
}

.inner-area {
  padding: 20px;
}

#header-bar {
  background: $light-grey;
  border-bottom: 1px solid $line-color;
  margin: 0;
  height: 56px;
  position: fixed;
  top: 40px;
  left: 0px;
  width: 100%;
  h2 {
    color: $red;
    font-size: 32px;
    font-weight: normal;
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
  }
}

#folder-panel,
#lab-req-serv-panel,
#admin-panel,
#laboratories-panel,
#clients-panel,
#materials-panel,
#equipment-panel,
#users-panel {
  width: $side-panel-width;
  position: fixed;
  bottom: 0px;
  top: 96px;
  left: 0px;
  background-color: $light-bg;
  border-top: 1px solid $line-color;
  border-left: 1px solid $line-color;
  border-right: 1px solid $line-color;
  .search-box {
    padding: 5px;
    select {
      margin-bottom: 5px;
      width: $side-panel-width - 10;
    }
    input {
      width: $side-panel-width - 25;
    }
  }
  .items-placeholder {
    background-color: $white;
    overflow: auto;
    position: absolute;
    width: $side-panel-width;
    bottom: 40px;
    top: 75px;
    border-top: 1px solid $line-color;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li:nth-child(odd) {
        background-color: $strip-color;
      }
      li.item {
      }
    }
    .items-counter {
      position: fixed;
      width: $side-panel-width;
      height: 30px;
      bottom: 40px;
      border-top: 1px solid $line-color;
      background-color: $light-grey;
      .items-counter-inner {
        font-size: 90%;
        text-align: center;
        padding-top: 5px;
      }
    }
  }
  .bottom-box {
    position: absolute;
    width: 250px;
    height: 40px;
    bottom: 0px;
    border-top: 1px solid $line-color;
    .bottom-box-inner {
      margin: 5px 10px;
    }
  }
}

#lab-req-serv-panel {
  .items-placeholder {
    top: 155px;
    bottom: 0px;
  }
}

#folder-main-panel, 
#lab-main-panel {
  position: fixed;
  left: $side-panel-width + 2;
  overflow: auto;
  right: 0px;
  bottom: 0px;
  top: 96px;
}

.modal form {
  margin: 0;
  padding: 0;
}

.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

.th-header {
  background: #000;
  color: #fff;
}

#grand_total {
  position: absolute;
  right: 40px;
  font-weight: bold;
  font-size: 30px;
  margin: 40px 0;
}
