body {
  font-size: 12px;
}

#workarea {
  margin: 0;
  padding: 0;
}

.inner-area {
  padding: 20px;
}

#header-bar {
  background: $light-grey;
  border-bottom: 1px solid $line-color;
  margin: 0;
  height: 56px;
  position: fixed;
  top: 40px;
  left: 0px;
  width: 100%;
  h2 {
    color: $red;
    font-size: 32px;
    font-weight: normal;
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
  }
}

#folder-panel,
#lab-req-serv-panel,
#admin-panel,
#laboratories-panel,
#clients-panel,
#materials-panel,
#equipment-panel,
#users-panel,
#request-types-panel,
#service-types-panel {
  width: $side-panel-width;
  position: fixed;
  bottom: 0px;
  top: 96px;
  left: 0px;
  background-color: $light-bg;
  border-top: 1px solid $line-color;
  border-left: 1px solid $line-color;
  border-right: 1px solid $line-color;
  .search-box {
    padding: 5px;
    select {
      margin-bottom: 5px;
      width: $side-panel-width - 10;
    }
    input {
      width: $side-panel-width - 25;
    }
  }
  .items-placeholder {
    background-color: $white;
    overflow: scroll;
    position: absolute;
    width: $side-panel-width;
    bottom: 40px;
    top: 75px;
    border-top: 1px solid $line-color;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li:nth-child(odd) {
        background-color: $strip-color;
      }
      li.item {
      }
    }
    .items-counter {
      position: fixed;
      width: $side-panel-width;
      height: 30px;
      bottom: 40px;
      border-top: 1px solid $line-color;
      background-color: $light-grey;
      .items-counter-inner {
        font-size: 90%;
        text-align: center;
        padding-top: 5px;
      }
    }
  }
  .bottom-box {
    position: absolute;
    width: 250px;
    height: 40px;
    bottom: 0px;
    border-top: 1px solid $line-color;
    .bottom-box-inner {
      margin: 5px 10px;
    }
  }
}

#lab-req-serv-panel {
  .items-placeholder {
    top: 155px;
    bottom: 0px;
  }
}

#folder-main-panel, 
#lab-main-panel {
  position: fixed;
  left: $side-panel-width + 2;
  overflow: auto;
  right: 0px;
  bottom: 0px;
  top: 96px;
}

.modal form {
  margin: 0;
  padding: 0;
}

.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

.th-header {
  background: #000;
  color: #fff;
}

#grand_total {
  position: absolute;
  right: 40px;
  font-weight: bold;
  font-size: 30px;
  margin: 40px 0;
}

.empty-cell {
  color: $grey;
  text-align: center !important;
  padding: 40px !important;
}

#files-area {
  table {
    tr {
      &.cur-serv-cell {
        th {
          background: #fffbb6 !important;
        }
        td {
          background: #fffdd7 !important;
        }
      }
      th {
        font-size: 120%;
        span {
          padding: 4px;
          @include rounded(4px);
        }
      }
    }
  }
}

.other-services {
  ul {
    list-style: none;
    li {
      list-style: none;
      span {
        padding: 2px;
        @include rounded(4px);
      }
    }
  }
}

#files_iframe_outer {
  position: fixed;
  left: ($sample-list-width * 2) + 14;
  bottom: 10px;
  top: 216px;
  right: 10px;
}

#files_iframe {
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden !important;
  overflow-y: auto;
}

#download-zip {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.tag {
  float:left;
  height:24px;
  line-height:24px;
  position:relative;
  font-size:11px;
  margin-left:20px;
  padding:0 10px 0 12px;
  background:$red;
  color:#fff;
  text-decoration:none;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px; 
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px;  
  border-top-right-radius:4px;  
  
  &:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent $red transparent transparent;
    border-style:solid;
    border-width:12px 12px 12px 0;    
  } 
  &:after{
    content:"";
    position:absolute;
    top:10px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px $red-dark;
    -webkit-box-shadow:-1px -1px 2px $red-dark;
    box-shadow:-1px -1px 2px $red-dark;
  }   
  &:hover{ background:$grey; } 
  &:hover:before{border-color:transparent $grey transparent transparent;}
}
