#container {
  width: $container-width;
  margin: 0 auto;
  min-height: 100%;
  background: transparent;
  padding: 0;
}

#workarea {
  background: $light-grey;
  @include rounded(5px);
  padding: 10px;
  border: 1px solid $line-color;
  position: fixed;
  margin-left: $nav-width - 1;
  width: $work-area-width;
  float: left;
  top: 60px;
  bottom: 10px;
  .inner-area {
    padding: 20px;
    background: #fff;
  }
  .workarea-bar {
    height: 30px;
    border: 1px solid $line-color;
    background: $workarea-bar-bg;
    padding: 4px;
    h2 {
      margin: 5px 0 0 10px;
      width: $work-area-width - 298;
      float: left;
      color: $white;
    }
    #search-area {
      float: left;
      input {
        width: 200px;
        margin-top: 1px;
        margin-right: 10px;
        border: 1px solid $workarea-bar-border;
      }
    }
    #add-new-button-area {
      float: left;
      width: 40px;
      margin-top: 2px;
      margin-right: 10px;
      border-right: 1px solid $workarea-bar-border;
      button {
        font-weight: bold;
      }
    }
  }
}

#topbar {
  font-weight: bold;
  height: 60px;
  #title {
    margin-left: 20px;
    background: transparent url('/assets/logo.png') no-repeat;
    padding-left: 80px;
    height: 48px;
    font-size: 26px;
    padding-top: 13px;
    top: 7px;
    position: absolute;
  }
}

#nav {
  margin-top: 20px;
  position: fixed;
  z-index: 800;
  width: $nav-width;
  margin-right: 10px;
  float: left;
  .nav-item {
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    .nav-icon {
    }
    .nav-title {
      color: $grey;
      font-size: 11px;
    }
    &.selected {
      background: transparent url('/assets/nav-item-selected.png') right top no-repeat;
      .nav-title {
        color: $black;
        font-weight: bold;
      }
    }
  }
}

.side-panel {
  float: left;
  width: $side-panel-width;
  position: fixed;
  bottom: 20px;
  top: 110px;
  background-color: #fff;
  border: 1px solid $line-color;
}

.panel-search {
  background: $bg-color;
  border-bottom: 1px solid $line-color; 
  padding: 10px;
  height: 30px;

  input[type=text] {
    width: $side-panel-width - 25;
    background-color: #fff;
    padding: 2px;
    margin-bottom: 2px;
  }

  select {
    width: $side-panel-width - 18;
    background-color: #fff;
    padding: 2px;
    margin: 2px 0;
  }
  input[type=checkbox] {
    background-color: #fff;
  }
  .cbs {
    padding-top: 0;
    color: #7ea0c3;
    label {
      font-size: 12px;
      padding: 0;
      margin: 0;
	  &:after { content: none; }
    }
    span { margin-right: 10px; }
  }
}

.panel-list {
  li {
    padding: 10px;
    border-bottom: 1px solid $line-color;
    height: 48px;
    .item-title {
      display: block;
      .item-request-number {
        float: left;
        font-weight: bold;
      }
      .item-request-description {
        float: left;
      }
    }
    .item-association {
      clear: both;
      color: $grey;
      .item-request-type {
        float: left;
      }
      .item-request-link {
        float: left;
      }
    }
    img {
      float: left;
      margin-right: 10px;
      padding-bottom: 20px;
    }
    a {  
      color: #000; 
      display: block; 
      width: 100%; 
      height: 58px;
      text-decoration: none;
	  .title { 
	    font-weight: bold;
	    font-size: 110%;
	    margin-bottom: 2px;
            overflow: hidden;
	  }
	  .comment { 
	    color: $grey;
	    font-size: 90%;
	  }
    }
    &:hover { background-color: $bg-color; }
	&.selected {
	  background: $selected-color;
	  color: #fff;
	  .title {
	    color: #fff;
	    text-shadow: #113f7d 0px 1px 1px;
	  }
	  .comment { color: #fff; }
    }
    &.loading {
      background-position: 240px 56px;
    }
  }
}

.panel-items {
  position: absolute;
  width: $side-panel-width;
  bottom: 60px;
  top: 100px;
  overflow: auto;
}

.panel-add {
  position: absolute;
  width: $side-panel-width - 20;
  bottom: 10px;
  height: 20px;
  background: $bg-color;
  border-top: 1px solid $line-color;
  border-left: 1px solid $line-color;
  padding: 10px;
  text-align: center;
  &.selected {
    a { 
      text-decoration: none;
      color: $selected-color; 
      font-weight: bold;
    }
  }
}

.main-panel {
  float: left;
  overflow: auto;
  width: $main-panel-width;
  position: fixed;
  bottom: 20px;
  top: 110px;
  border: 1px solid $line-color;
  border-left: 0;
  margin-left: $side-panel-width + 2;
  background: $white;
}

#counter {
  position: fixed;
  bottom: 40px;
  height: 30px;
  width: 290px;
  color: $grey;
  background: $white;
  border-top: 1px solid $line-color;
  padding-left: 10px;
  .inner {
    text-align: center;
    margin-top: 8px;
  }
}

#wide-area {
  width: $wide-width;
  background: #fff;
  border: 1px solid $line-color;
  overflow: auto;
  position: fixed;
  bottom: 20px;
  top: 70px;
}
