// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reports-nav {
  padding: 10px;	
}

#reports-panel {
  position: fixed;
  overflow: auto;
  left: sidenav-width;
  bottom: 0px;
  top: 54px;
}

#reports-main-panel {
  position: fixed;
  left: $sidenav-width + $side-panel-width;
  overflow: auto;
  right: 0px;
  bottom: 0px;
  top: 54px;
}

.reports-panel {
  padding-left: $side-panel-width !important;
}

.reports-details {
  padding-left: $side-panel-width + 10 !important;
}

#report-header-bar {
  font-size: 130%;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  padding: 0.5em;
  background: #fff;
}

.equipment-item-name {
  font-weight: bold;
}

.equipment-dates {
  margin-top: 1em;
  border: 1px solid #ddd;
  width: 100%;
  td,th {
    padding: 0.5em;
  }
}

.eq-header {
  text-align: center;
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 110%;
  }
}

