// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reports-nav {
  padding: 10px;	
}

#reports-main-panel {
  position: fixed;
  left: $side-panel-width + 10;
  overflow: auto;
  right: 0px;
  bottom: 0px;
  top: 96px;
}
