// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.no-services {
  color: $light-grey;
  font-size: 200%;
  text-align: center;
  margin: 40px;
}

.req-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $table-line-color;
  tr {
    th {
      padding: 5px;
      background: $table-head-bg;
      color: $table-head-color;
      text-align: left;
      font-weight: bold;
    }
    td {
      padding: 5px;
      border: 1px solid $table-line-color;
    }
  }
}
