// Place all the styles related to the RequestedServices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status-initial     { color: $grey; }
.status-received    { color: #f0842a; }
.status-assigned    { color: #2ec6c8; }
.status-suspended   { color: $brand-warning; }
.status-reinit      { color: $brand-primary; }
.status-in-progress { color: $brand-primary; }
.status-finished    { color: $brand-success }
.status-canceled    { color: $brand-danger; }
.status-auth        { color: $brand-warning; }
.status-to-quote    { color: #a58ad5; }
.status-send-quote    { color: darken(#a58ad5, 10%); }
.status-waiting     { color: #666; }

.btn-status {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.bg-status-initial     { background: $grey; }
.bg-status-received    { background: #f0842a; }
.bg-status-assigned    { background: #2ec6c8; }
.bg-status-suspended   { background: $brand-warning; }
.bg-status-reinit      { background: $brand-primary; }
.bg-status-in-progress { background: $brand-primary; }
.bg-status-finished    { background: $brand-success }
.bg-status-canceled    { background: $brand-danger; }
.bg-status-auth        { background: $brand-warning; }
.bg-status-to-quote    { background: #a58ad5; }
.bg-status-send-quote  { background: darken(#a58ad5, 10%); }
.bg-status-waiting     { background: #666; }


.bg-edit-folder { background: $folder-color; color: darken($folder-color,50%) !important; }

.bg-dialog { background: $brand-primary; }

.header-status {
  font-size: 14px;
  padding: 10px 20px;
  color: #fff;
  .title {

  }
  .number {
    float: right;
  }
  .close {
    position: relative;
    float: right;
    margin: 0 0 0 10px !important;
    padding: 0px !important;
    top: -3px;
  }
}

#folder-work-panel {
  #requested-service-tabs, .tab-content {
    margin: 20px;
  }
}


#requested-service-data {
  padding: 20px;
  h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  } 
  strong { 
    color: $grey;
  }
}

#rs-actions-area {
  border-top: 1px solid $line-color;
  border-bottom: 1px solid $line-color;
}

#requested-service-actions-title {
  padding: 20px;
  width: 30%;
  float: left;
  text-align: center;
} 
#requested-service-actions {
  padding: 10px;
  width: 70%;
  float: right;
}

#requested-service-tabs {
  margin-top: 20px;
}


.total-row {
  td {
    border-top: 2px solid $grey;
    font-weight: bold;
    background-color: $white !important;
  }
}

.add-row {
  td {
    background-color: $white !important;
  }
}

#costeo {
  margin-top: 20px;
  table {
    margin-bottom: 40px;
    .th-header {
      font-weight: bold;
      font-size: 150%;
    }
  }

  #grand_total {
    float: right;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
  }
}
