// Place all the styles related to the RequestedServices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.results-date {
  margin-left: 1em;
  border-left: 1px solid #ddd;
  padding-left: 1em;

}
.deliver-today { color: #DDDD24; }
.deliver-ontime { color: #0a0; }
.deliver-delayed { color: #a00; }

.header-status {
  .deliver-today,
  .deliver-ontime,
  .deliver-delayed { 
     background: rgba(255, 255, 255, 0.3);
     padding: 4px;
  }
}
.status-initial     { color: $grey; }
.status-received    { color: #f0842a; }
.status-assigned    { color: #2ec6c8; }
.status-suspended   { color: $brand-warning; }
.status-reinit      { color: $brand-primary; }
.status-in-progress { color: $brand-primary; }
.status-finished    { color: $brand-success }
.status-confirmed    { color: $brand-success }
.status-canceled    { color: $brand-danger; }
.status-returned    { color: $brand-warning; }
.status-deleted    { color: $brand-danger; }
.status-auth        { color: $brand-warning; }
.status-sup-auth        { color: $brand-warning; }
.status-to-quote    { color: #a58ad5; }
.status-send-quote    { color: darken(#a58ad5, 10%); }
.status-waiting     { color: #666; }
.status-return-quote { color: $brand-warning; }

.btn-status {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.bg-status-initial     { background: $grey; }
.bg-status-received    { background: #f0842a; }
.bg-status-assigned    { background: #2ec6c8; }
.bg-status-suspended   { background: $brand-warning; }
.bg-status-reinit      { background: $brand-primary; }
.bg-status-in-progress { background: $brand-primary; }
.bg-status-finished    { background: $brand-success }
.bg-status-confirmed    { background: $brand-success }
.bg-status-canceled    { background: $brand-danger; }
.bg-status-deleted    { background: $brand-danger; }
.bg-status-returned        { background: $brand-warning; }
.bg-status-auth        { background: $brand-warning; }
.bg-status-sup-auth        { background: $brand-warning; }
.bg-status-to-quote    { background: #a58ad5; }
.bg-status-send-quote  { background: darken(#a58ad5, 10%); }
.bg-status-waiting     { background: #666; }
.bg-status-return-quote   { background: $brand-warning; }


.bg-edit-folder { background: $folder-color; color: darken($folder-color,50%) !important; }

.bg-dialog { background: $brand-primary; }

.header-status {
  font-size: 14px;
  padding: 10px 20px;
  color: #fff;
  .title {

  }
  .number {
    float: right;
  }
  .close {
    position: relative;
    float: right;
    margin: 0 0 0 10px !important;
    padding: 0px !important;
    top: -3px;
  }
}

#folder-work-panel {
  #requested-service-tabs, .tab-content {
    margin: 20px;
  }
}


#rs-header {
  margin-top: 20px;
  width: 100%;

  #requested-service-data {
    padding: 0 20px;
    vertical-align: top;
    h3 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      padding: 0;
    } 
    strong { 
      color: $grey;
    }
  }

  #requested-service-actions {
    vertical-align: top;
    width: 210px;
    button {
      margin: 5px;
      text-align: left !important;
      padding-left: 10px;
      span {
        font-weight: bold;
      }
      font-size: 12px;
      width: 200px;
      text-align: center;
    }
  }
}

#requested-service-tabs {
  margin-top: 20px;
}


.total-row {
  td {
    border-top: 2px solid $grey;
    font-weight: bold;
    background-color: $white !important;
  }
}

.add-row {
  td {
    background-color: $white !important;
  }
}

.costeo_table {
  width: 500px !important; 
}

#costeo {
  margin-top: 20px;
  table {
    margin-bottom: 40px;
    .th-header {
      font-weight: bold;
      font-size: 150%;
    }
  }

  #grand_total {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
  }
}

#service-start {
  height: 20px;
  padding-left: 20px;
}

.requested-service-contact {
  color: $grey;
  .vinculacion-contact {
    .contact-data {
      float: left;
      padding-right: 10px;
    }
    .client-address {
      float: left;
    }
    .contact-item {
      span.spaced {
        padding-left: 2em;
        font-size: 95%;
      }
    }
  }
}

#folder-info {
  .vinculacion-contact {
    font-size: 95%;
  }
}


.contact-item {
  span.spaced {
    padding-left: 2em;
    font-size: 95%;
  }
}

.legend-textarea {
  padding: 5px;
  margin-bottom: 5px;
  background: #fff;
  border: 1px solid $line-color;
  textarea {
    outline: none;
    resize: none;
    padding: 0;
    width: 100%;
    /*height: 40px;*/
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}.edit-legend-button {
  float: right;
}


#action-confirm {
  .btn {
    margin: 0 0.5em;
  }
}

#survey-area {
  display: none;
  padding: 1em;
}

#thanks-area {
  display: none;
  padding: 1em;
  font-size: 1.2em;
  text-align: center;
}

#return-area {
  display: none;
  padding: 1em;
  text-align: center;
  textarea {
    text-align: left;
  }
}
