// Place all the styles related to the ServiceRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-request-area {
  h1 {
    margin-bottom: 20px;
  }
}

.service-request-item {
  cursor: pointer;
  padding: 5px;
  min-height: 64px;
  background: $white;
  border-bottom: 1px solid $line-color;
  &.service-mine .service-request-number {
    background: transparent url('/assets/icons/folder.png') no-repeat;
    color: #cce4fc;
  }
  &.service-supervised .service-request-number {
    background: transparent url('/assets/icons/supervised-folder.png') no-repeat;
    color: #a28500;
  }
  .service-request-number {
    font-weight: bold;
    width: 48px;
    height: 48px;
    float: left;
    padding-top: 20px;
    padding-left: 12px;
    font-size: 11px;
  }
  .service-request-link {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 58px;
    color: #000;
  }
  .service-request-description,
  .service-request-add-info {
    margin-left: 58px;
    font-size: 11px;
    color: $grey;
  }
  &.selected {
    background-color: $bg-selected;
    color: $selected-color !important;
    .lab-service-laboratory {
      color: $selected-color;
    }
  }
}



#field_service_request_request_type_id, 
#field_service_request_request_link {
  margin-bottom: 1em;
}

#field_service_request_description {
  label {
    display: block;
    line-height: 2em;
  }
  textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
  }
}

.sample-details {
  padding: 20px 10px;
  border-bottom: 1px solid $line-color;
  &.selected {
    background-color: $bg-selected;
    color: $selected-color;
  }
  .sample-consecutive {
    font-size: 10px;
    padding: 4px;
    @include rounded(4px);
    background-color: $link-color;
    color: $white;
    text-align: center;
    line-height: 1.4em;
    width: 48px;
    float: right;
    strong {
      font-size: 12px;
      font-weight: bold;
      color: $white;
    }
  }
  .sample-identificator {
    font-weight: bold;
  }
  .sample-description {
  }
}

#sample {
  position: fixed;
  top: 96px;
  bottom: 0px;
  left: $sample-list-width + 2;
  width: $sample-list-width;
  border-right: 1px solid $line-color;
  #sample-header {
    border-bottom: 1px solid $line-color;
    height: 40px;
    cursor: pointer;
    .sample-n {
      float: left;
      width: $sample-list-width / 2;
      font-weight: bold;
      color: $black;
      margin: 10px 0 0 10px;
    }
    .btn-toolbar {
      float: right;
      padding: 0;
      margin: 0;
      .btn-group {
        margin: 5px 5px 0 0;
      }
    }
  }
  #current-sample {
    .sample-details {
      height: 48px;
      overflow: hidden;
    }
    .sample-description {
      font-size: 11px;
      color: $grey;
    }
  }
  #sample-services-header {
    height: 24px;
    border-bottom: 1px solid $line-color;
    background-color: $light-grey;
    .title {
      padding-top: 3px;
      padding-left: 6px;
      font-weight: bold;
      color: $grey;
      text-transform: uppercase;
    }
  }
  #sample-services {
    position: absolute;
    overflow: auto;
    top: 154px;
    bottom: 0px;
    ul {
      margin: 0px;
      width: $sample-list-width;
      list-style: none;
      li {
        font-size: 95%;
        list-style: none;
        padding: 4px;
        margin: 2px 0;
        cursor: pointer;
        color: $black;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        &.selected {
          border-top: 1px solid $line-color;
          border-bottom: 1px solid $line-color;
          background: $bg-selected;
          color: $selected-color;
           
          .service-bullet {
            background-color: $selected-color;
            color: $white;
            font-weight: bold;
          }
        }
        .service-bullet {
          font-size: 12px;
          padding: 2px 2px 4px 2px;
          @include rounded(4px);
          color: $white;
          text-align: center;
          width: 20px;
          height: 20px;
          float: left;
          &.add {
            background-color: $green;
            color: $white;
          }
        }
        .service-name {
          margin: 3px 0 3px 32px;
        }
        &.no-service {
          .service-bullet {
            background-color: $med-grey;
          }
          .service-name {
            color: $grey;
          }
        }
      }
    }
  }
}

#requested-service-header {
  background: #fff;
  left: 0px;
  right: 0px;
  position: absolute;
  top: 0;
  height: 48px;
  border-top: 1px solid $line-color;
  border-bottom: 1px solid $line-color;
  #requested-service-name {
    padding: 14px 10px 14px 20px;
    white-space: pre;
    font-size: 24px;
    color: $black;
    font-weight: normal;
  }
}

#requested-service-actions {
  position: fixed;
  top: 96px;
  right: 0px;
  width: 200px;
  margin-top: 10px;
  z-index: 99999;
  padding-left: 40px;
  background: rgba(255,255,255,0.1); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(255,255,255,0.1) 0%, #fff 12%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.1)), color-stop(12%,#fff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0.1) 0%,#fff 12%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0.1) 0%,#fff 12%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0.1) 0%,#fff 12%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0.1) 0%,#fff 12%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255,255,255,0.1)', endColorstr='#fff',GradientType=1 ); /* IE6-9 */


}

#requested-service-tabs {
  padding-top: 64px;
  padding-left: 10px;
  background: $light-grey;
  
}

#requested-service-tabs-content {
  padding-left: 10px;
}

#empty-requests {
  text-align: center;
  font-size: 28px;
  color: #999;
  margin-top: 100px;
}

#sample-list {
  display: none;
  position: fixed;
  top: 136px;
  bottom: 0px;
  width: $sample-list-width;
  background: #fff;
  overflow: auto;
  border: 1px solid $line-color;
  z-index: 100;
  .sample-details {
    cursor: pointer;
    min-height: 54px;
  } 
}

#field_service_request_sample_identification {
  margin-bottom: 10px;
  label {
    margin-bottom: 5px;
    display: block;
  }
  input {
    width: 300px;
  }
}
#field_service_request_sample_description {
  margin-bottom: 10px;
  margin-top: 20px;
  label {
    margin-bottom: 5px;
    display: block;
  }
  textarea {
    width: 300px;
    height: 100px;
  }
}

#sample-workarea {
  left: ($sample-list-width * 2) + 4;
  right: 0px;
  position: fixed;
  top: 96px;
  bottom: 0px;
}

#services-panel,
#members-panel,
#equipment-panel {
  width: $lab-services-list-width;
  border-right: 1px solid $line-color;
  background: $bg-color;
  position: absolute;
  top: 30px;
  bottom: 16px;
  #members-search-panel,
  #equipment-search-panel
  #services-search-panel {
    padding-top: 10px;
    margin-bottom: 10px;
    select {
      width: $lab-services-list-width - 10;
      margin: 2px 5px;
    }
    input {
      margin: 2px 5px;
      width: $lab-services-list-width - 20;
    }
  }
  #equipment-search-panel {
    padding-top: 10px;
    margin-bottom: 10px;
    input {
      margin: 2px 5px;
      width: $lab-services-list-width - 20;
    }
  }
  #laboratory-services-list, 
  #admin-lab-members-list,
  #admin-lab-services-list {
    border-top: 1px solid $line-color;
    overflow: auto;
    position: absolute;
    top: 95px;
    bottom: 0px;
    background: $white;
    .lab-service-item,
    .admin-lab-service-item,
    .admin-lab-member-item {
      cursor: pointer;
      padding: 5px;
      height: 64px;
      overflow: hidden;
      border-bottom: 1px solid $line-color;
      .lab-service-name {
        font-weight: bold;
      }
      .lab-service-laboratory {
        font-size: 11px;
        color: $grey;
      }
      &.selected {
        background-color: $bg-selected;
        color: $selected-color;
        .lab-service-laboratory {
          color: #a3cbfd;
        }
      }
    }
  }
  #admin-lab-equipment-list {
    top: 70px !important;
    border-top: 1px solid $line-color;
    overflow: auto;
    position: absolute;
    bottom: 0px;
    background: $white;
    .admin-lab-equipment-item {
      cursor: pointer;
      padding: 5px;
      height: 64px;
      overflow: hidden;
      border-bottom: 1px solid $line-color;
      .equipment-name {
        font-weight: bold;
      }
      &.selected {
        background-color: $bg-selected;
        color: $selected-color;
        .equipment-name {
          color: #a3cbfd;
        }
      }
    }
  }
}


// INITIAL
.status_1 { background-color: $status_1 !important; }
// RECEIVED
.status_2 { background-color: $status_2 !important; }
// ASSIGNED
.status_3 { background-color: $status_3 !important; }
// SUSPENDED
.status_4 { background-color: $status_4 !important; }
// REINIT
.status_5 { background-color: $status_5 !important; }
// CANCELED
.status_-1 { background-color: $status_-1 !important; }
// IN_PROGRESS
.status_6 { background-color: $status_6 !important; }
// FINISHED
.status_99 { background-color: $status_99 !important; }

.req_serv_status_1 { border-left: 5px solid $status_1; }
.req_serv_status_2 { border-left: 5px solid $status_2; }
.req_serv_status_3 { border-left: 5px solid $status_3; }
.req_serv_status_4 { border-left: 5px solid $status_4; }
.req_serv_status_5 { border-left: 5px solid $status_5; }
.req_serv_status_6 { border-left: 5px solid $status_6; }
.req_serv_status_-1 { border-left: 5px solid $status_-1; }
.req_serv_status_99 { border-left: 5px solid $status_99; }

#no-actions {
  padding: 10px;
  color: $grey;
  font-size: 11px;
}

#no-samples {
  text-align: center;
  font-size: 28px;
  color: #999;
  margin-top: 100px;
  a {
    cursor: pointer;
  }
}

#files_iframe {
  border: 0;
}

#upload-area {
  background: $white;
}

#upload-box {
  float: right;
  position: relative;
  margin-right: 10px;
  width: 140px;
}

#upload-box input[type=file] {
  position: absolute;
  text-align: right;
  font-size: 60px;
  height: 150px;
  @include opacity(0);
  top: 0px;
  left: 0px;
  z-index: 2;
  cursor: pointer; cursor: hand;
}

.upload {
  z-index: 1;
  width: 150px;
  text-align: center;
  border: 0;
  margin: 0;
  padding: 6px 8px;
  outline: none;
  color: #333;
  font-weight: bold;
  text-shadow: #fff 0px 1px 0px;
  border: 1px solid #ccc;
  @include gradient(#eee, #ccc);
  @include rounded(5px);
  @include shadow_inset(0,1px,1px,#fff);
  font-size: 14px;
  cursor: pointer; 
  height: 20px;
}

#upload-box .upload {
  width: 120px;
  padding: 50px 8px 6px 8px;
  background: #eee url(/assets/up.png) center 5px no-repeat;
}

.upload-msg {
  text-align: left;
  font-size: 11px;
  margin-top: 20px;
  color: $grey;
}

#files-area {
  margin-right: 180px;
  margin-left: 10px;
}

.files-table {
  width: 100%;
}

.files-table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.file-entry {
  border-bottom: 1px solid $line-color;
  height: 60px;


  .file-desc-form {
    display: none;
    select {
      width: 100px;
    }
    input {
      width: 300px;
      margin-top: 10px;
    }
  }

  .file-desc {
    padding-left: 18px;
    font-size: 15px;
  }

  .file-details {
    padding-left: 18px;
    color: $grey;
    font-size: 11px;
    padding-top: 5px;
  }

  .file-edit {
    position: fixed;
    right: 200px; 
    font-size: 10px;
    display: none;
    padding: 4px;
    color: $line-color;
  }

  &:hover .file-edit {
   display: inline;
  }
}

#add-new-sample-modal form {
  margin: 0;
  padding: 0;
}

#cg_ServiceRequest_link,
#cg_ServiceRequest_description,
#cg_ServiceRequest_supervisor,
#cg_ServiceRequest_submit {
  display: none;
}

#add-new-client,
#add-new-client-contact {
  font-size: 10px;
  cursor: pointer;
}

.info-row {
  margin-bottom: 5px;
  .info-extra {
    padding-left: 20px;
    table {
      th {
        text-align: left; 
        padding-right: 10px;
        vertical-align: top;
      }
    }
  }
}

#detalles,
#costeo {
  padding: 10px 20px;
}
