// Place all the styles related to the ServiceRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-request-area {
  h1 {
    margin-bottom: 20px;
  }
}

#my-requests-area {
  position: fixed;
  top: 110px;
  bottom: 20px;
  background-color: $white;
  border: 1px solid $line-color;
  width: $work-area-width - 2;
}
#field_service_request_request_type_id, 
#field_service_request_request_link {
  margin-bottom: 1em;
}

#field_service_request_description {
  label {
    display: block;
    line-height: 2em;
  }
  textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
  }
}

#new-request-button-area {
  margin-top: 20px;
  float: right;
}

#sample {
  position: fixed;
  top: 177px;
  bottom: 20px;
  width: $sample-list-width;
  border-right: 1px solid $line-color;
  #sample-header {
    border-bottom: 1px solid $line-color;
    padding: 10px;
    background: transparent url(/assets/arrow-down.png) no-repeat center right;
    cursor: pointer;
  }
  .sample-details {
    padding: 20px 10px;
    border-bottom: 1px solid $line-color;
    &.selected {
      background-color: $bg-selected;
    }
    .sample-consecutive {
      font-size: 10px;
      padding: 4px;
      @include rounded(4px);
      background-color: $link-color;
      color: $white;
      text-align: center;
      width: 48px;
      float: right;
    }
    .sample-identificator {
      font-weight: bold;
    }
    .sample-description {
    }
  }
  #sample-services {
    padding: 10px;
    .title {
      font-weight: bold;
    }
    ul {
      li {
        padding: 4px;
        margin: 2px 0;
        cursor: pointer;
        &.selected {
          background: $light-grey;
          color: #000;
          .service-bullet {
            background-color: $selected-color;
            color: $white;
            font-weight: bold;
          }
        }
        .service-bullet {
          font-size: 10px;
          padding: 4px;
          @include rounded(4px);
          background-color: $bullet-color;
          color: $grey;
          text-align: center;
          width: 10px;
          float: left;
          &.add {
            background-color: $green;
            color: $white;
          }
        }
        .service-name {
          margin: 3px 0 3px 24px;
        }
        &.no-service {
          .service-bullet {
            background-color: $med-grey;
          }
          .service-name {
            color: $grey;
          }
        }
      }
    }
  }
}


#requested-service {
  float: left;
  margin-left: $sample-list-width;
  #requested-service-header {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    h2 {
      margin-bottom: 10px;
    }
    .laboratory {
    }
  }
}

#requested-service-tabs {
  border-bottom: 1px solid $line-color;
  height: 27px;
  width: 100%;
  .tab { 
    border: 1px solid $line-color;
    border-bottom: 0;
    background: $light-grey;
    color: $grey;
    float: left;
    margin: 0 5px;
    padding: 5px;
    &.selected {
      background: $white;
      color: $black;
      font-weight: bold;
    }
  }
}

#requested-service-log {
  margin-top: 10px;
  padding: 10px;
  table {
    border-collapse: collapse;
    font-size: 10px;
    tr {
      th {
        border: 1px solid $line-color;
        background: $selected-color;
        color: $white; 
        text-align: left;
        font-weight: bold;
        padding: 4px;
      }
      td {
        border: 1px solid $line-color;
        padding: 4px;
      }
    }
  }
}

#empty-requests {
  text-align: center;
  font-size: 28px;
  color: #ddd;
  margin-top: 100px;
}

#service-request-header {
  padding: 10px;
  border-bottom: 1px solid $line-color;
  height: 45px;
  overflow: hidden;
  .number {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 70px;
    float: left;  
  }
  .description {
    float: left;
    .service-link {
      font-weight: bold;
    }
  }
}

#sample-list {
  display: none;
  position: fixed;
  top: 217px;
  bottom: 72px;
  width: $sample-list-width;
  overflow: auto;
  background: #fff;
  .sample-details {
    cursor: pointer;
  }
  #add-new-sample {
    position: fixed;
    bottom: 21px;
    width: $sample-list-width;
    height: 50px;
    text-align: center;
    border-top: 1px solid $line-color;
    button {
      margin: 10px;
    }
  }
  
}

#new-sample-dialog {
  padding: 20px;
}

#field_service_request_sample_identification {
  margin-bottom: 10px;
  label {
    margin-bottom: 5px;
    display: block;
  }
  input {
    width: 300px;
  }
}
#field_service_request_sample_description {
  margin-bottom: 10px;
  margin-top: 20px;
  label {
    margin-bottom: 5px;
    display: block;
  }
  textarea {
    width: 300px;
    height: 100px;
  }
}

#sample-workarea {
  width: $sample-workarea-width;
  margin-left: $sample-list-width;
  padding: 10px;
}

#services-panel {
  width: $lab-services-list-width;
  border-right: 1px solid $line-color;
  background: $bg-color;
  position: absolute;
  top: 30px;
  bottom: 16px;
  #services-search-panel {
    padding-top: 10px;
    margin-bottom: 10px;
    select {
      width: $lab-services-list-width - 10;
      margin: 2px 5px;
    }
    input {
      margin: 2px 5px;
      width: $lab-services-list-width - 20;
    }
  }
  #laboratory-services-list {
    border: 1px solid $line-color;
    overflow: auto;
    position: absolute;
    top: 95px;
    bottom: 16px;
    .lab-service-item {
      cursor: pointer;
      padding: 5px;
      height: 64px;
      overflow: hidden;
      border-bottom: 1px solid $line-color;
      .lab-service-name {
        font-weight: bold;
      }
      .lab-service-laboratory {
        font-size: 11px;
        color: $grey;
      }
      &.selected {
        background-color: $selected-color;
        color: $white;
        .lab-service-laboratory {
          color: $selected-color-light;
        }
      }
    }
  }
}

#service-details {
  margin-left: $lab-services-list-width + 10;
  margin-top: 10px;
  #service-detail-submit-area {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
  }
}

#field_requested_service_details {
  div {
    margin-bottom: 5px;
  }
  textarea {
    width: 360px;
    height: 100px;
  }
}


#requested-service-status {
  float: right;
  font-size: 12px;
  padding: 4px 10px;
  @include rounded(4px);
  background-color: $link-color;
  color: $white;
  text-align: center;
}

