%ul
  - @material.each do |material|
    %li.material-item.item{"data-id" => material.id}
      .material-item-name= material.name
.items-counter
  .items-counter-inner
    = "#{@material.count} equipos"